body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MENU FIXE EN HAUT */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #4D6E54;
  z-index: 1000;
}

.top-menu nav {
  display: flex;
  justify-content: center;
}

.top-menu a {
  color: #E2B95A  ;
  padding: 15px 20px;
  text-decoration: none;
  transition: background 0.3s;
}

.top-menu a:hover {
  background: #234029;
}

/* POUR QUE LE CONTENU NE PASSE PAS SOUS LE MENU */
.page-content {
  margin-top: 55px;
  padding: 30px;
}


h1{
  text-align: center;
  color: #E2B95A ;
  background-color: #6B886E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 3rem;
}